
*{font-family: Arial, Helvetica, sans-serif; color: navy;}
body{background-color: lightcyan;}
.heading{text-align: center;}
.child1>a{background-color: navy; 
    border: 0px;
    text-align: center; 
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
     border-radius: 4px; }
     div{opacity: 0.8;}
     .table1{margin-left:33%;}
.select1{width:100%;padding: 10px 12px; margin: 10px; box-sizing: border-box; border-radius: 10px; border-color: darkkhaki; }
.select2{width:100%;padding: 10px 12px; margin: 10px; box-sizing: border-box; border-radius: 10px; }
.table2{width: 100% ;}
.input1{width:100%;padding: 10px 12px; margin: 8px; box-sizing: border-box; border-radius: 10px;  border-color: darkkhaki;} 
.input2{width:80%;padding: 10px 12px; margin: 8px; box-sizing: border-box; border-radius: 10px;  border-color: darkkhaki;} 
.submit{width: 80% ; padding: 10px 10px; text-align: center;  
        background-color: navy;   font-size: 15px;
        color: beige; border-radius: 10px; }